:root {
  --background-color: #f4f4f4;
  --background-secondary-color: #333333;
  --text-color: #333333;
  --text-secondary-color: #ffffff;
  --action-color: #f68720;

  --desktop-spacing: 20px;
  --mobile-spacing: 10px;

  --shadow-color: var(--action-color);
  --shadow-color-light: var(--action-color);
}

html {
  /* Convert font-size for REM sizing */
  font-size: 62.5%;
  color: var(--text-secondary-color);
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* REM font sizing is better for accessibility. 2rem = 20px */
  font-size: 2rem;
  background-color: #301600;
}

header {
  padding: var(--desktop-spacing);
  background-color: var(--background-secondary-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}

header h1 {
  color: var(--text-secondary-color);
  font-weight: 900;
  font-size: 3rem;
  width: 100px;
}

header h2 {
  width: auto;
  margin: 0 40px;
}

main {
  background: rgb(51, 51, 51);
  background: linear-gradient(180deg, rgba(51, 51, 51, 1) 0%, rgba(62, 62, 62, 1) 35%, rgba(48, 22, 0, 1) 100%);
  padding: var(--desktop-spacing);
}

h1 {
  margin: 0;
}

h2 {
  font-weight: 200;
  font-size: 2.6rem;
  margin: 0 0 10px 0;
}

p {
  line-height: 1.4;
}

a {
  color: var(--action-color);
}

.button {
  background-color: var(--action-color);
  color: var(--text-secondary-color);
  padding: var(--desktop-spacing);
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1.4;
  line-height: 1;
  text-decoration: none;
  border-radius: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.intro {
  width: 68%;
  background: rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
  margin: 0 0 40px 0;
  max-width: 700px;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
}

.connect {
  padding-left: 2%;
  width: 30%;
}

.neon {
  color: #ffffff;
  animation: neon 3s infinite;
}

h2.neon {
  font-size: 3.3rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

/* Mobile Styling */
@media (max-width: 768px) {

  header {
    padding: var(--mobile-spacing);
  }

  main {
  padding: var(--mobile-spacing);
  }

  header h1 {
    font-size: 2.4rem;
    width: 85px;
  }

  h2 {
    font-size: 2rem;
  }

  h2.neon {
    font-size: 2rem;
    margin: 0 20px;
  }

  .row {
    display: block;
  }

  .intro {
    width: 100%;
  }

  .connect {
    width: 100%;
    padding: 0;
  }
}